body {
  background-color: #66CBFF;
  font-size: 18px;
  font-family: arial;
}

#img-container {
  max-width: 60%;
  max-height: 750px;
}

#img-container img {
  width: 100%;
}

#x {
  border: none;
  border-radius: 25px;
  font-size: 2.2em;
  background-color: pink;
  color: white;
}

@media all and (min-width: 820px) {

  #img-container img {
    width: 90%;
  }

}
